# Gradle cache & build folders
.gradle/
build/
out/
bin/

# IDE settings
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.vscode/

# Minecraft run folders (Log, save game test)
run/
logs/
crash-reports/

# Caches and tags
.tags
.tags_sorted_by_file

# OS trash
.DS_Store
Thumbs.db